* {
    margin: 0px;
    padding: 0px;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: #4f000b;
    padding: 50px;
}

img {
    height: 130px;
    width: 130px;
}

body {
    background-color: #720026;
}

h1 {
    font-family: 'Asap', sans-serif;
    color: white;
    font-size: 40px;
    width: 50px;
}

/* Main */

p,
h1,
h2,
button,
table {
    font-family: 'Asap', sans-serif;
}

.contenedorSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #a4133c;
    color: white;
    height: 100%;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 15px;
}

.contenedorSection h2 {
    margin: 20px;
    font-size: 60px;
}

table {
    width: 1300px;
    text-align: center;
}

td {
    padding: 25px;
}

th {
    font-size: x-large;
}

.btn {
    margin: 5px;
    margin-top: 70px;
    background-color: #fdb833;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 5px rgb(90, 90, 90);
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: #4f000b;
    padding: 50px;
}